{{define "title"}}About{{end}}

{{define "main"}}
    <h1>About</h1>

    <p>Gistbox is a simple web application that allows users to create, view, and share text-based gists.</p>

    <p>Key features of this application includes:</p>

    <ul>
        <li><b>Project Structure:</b> Organizing code in a clean, scalable, and maintainable way.</li>
        <li><b>Advanced Routing:</b> Implementing advanced routing patterns with the standard <code>net/http</code> library and third-party routers like <code>httprouter</code>.</li>
        <li><b>Custom Middleware:</b> Creating and using custom middleware for logging, error recovery, and rate-limiting.</li>
        <li><b>Form Handling and Security:</b> Managing form submissions, implementing robust validation, and preventing common vulnerabilities like Cross-Site Scripting (XSS) and Cross-Site Request Forgery (CSRF).</li>
        <li><b>Database Integration:</b> Interacting with a MySQL database to store and retrieve data.</li>
        <li><b>Real-Time Communication:</b> Using WebSocket examples for real-time communication.</li>
        <li><b>Graceful Operations:</b> Implementing graceful shutdown and using context for request handling.</li>
        <li><b>Comprehensive Testing:</b> Writing unit and integration tests for handlers and other application components.</li>
        <li><b>Session Management:</b> Managing user sessions and authentication.</li>
        <li><b>HTML Templating:</b> Rendering dynamic HTML templates.</li>
    </ul>


{{end}}