{{define "title"}}Update Password{{end}}
{{define "main"}}
    <h2>Update Password</h2>
    <form action="/account/password/update" method="POST">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <div>
            <label>Current Password:</label>
            {{with .Form.FieldErrors.currentPassword}}
                <label class="error">{{.}}</p>
            {{end}}
            <input type="password" name="current_password">
        </div>
        <div>
            <label>New Password:</label>
            {{with .Form.FieldErrors.new_password}}
                <label class="error">{{.}}</p>
            {{end}}
            <input type="password" name="newPassword">
        </div>
        <div>
            <label>Confirm New Password:</label>
            {{with .Form.FieldErrors.confirmNewPassword}}
                <label class="error">{{.}}</p>
            {{end}}
            <input type="password" name="confirmNewPassword">
        </div>
        <div>
            <input type="submit" value="Change Password">
        </div>
    </form>
{{end}}